.idea/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs

# Chain Code
chain_code/dist/
chain_code/node_modules/

# Astria Server
astria_server/node_modules/
astria_server/dist/

# Astria Auth Server
astria_auth_server/node_modules/
astria_auth_server/dist/
