.idea/
chain_code/dist/
chain_code/node_modules/


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
astria_server/results
astria_server/tmp
astria_server/public/css/main.css
astria_server/coverage
astria_server/.env
astria_server/node_modules/
astria_server/bower_components
astria_server/.idea
astria_server/*.iml
astria_server/.DS_Store
astria_server/Thumbs.db
astria_server/dist/**/*
astria_server/.vscode/**/*
